#main-div {
    flex-direction: column;
    height: 93%;
}

#main-nav {
    height: 7%;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}

#modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#logout-btn, #agendar-consulta-btn, #save-changes-btn, #voltar-exclusao-btn {
    border-radius: 5px;
    background-color: #303450 !important;
    color: white;
}

#logout-btn:hover, #agendar-consulta-btn:hover,
#save-changes-btn:hover, #voltar-exclusao-btn:hover {
    background-color: #5b5395 !important;
}

#cancelar-btn, #confirmar-exclusao-btn {
    border-radius: 5px;
    background-color: #a31307 !important;
    color: white;
}

#cancelar-btn:hover, #confirmar-exclusao-btn:hover {
    background-color: #a31407c5 !important;
}

#table-div {
    width: 80%;
    height: 85%;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: auto;
}

#table-div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #F5F5F5;
}

#table-div::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

#table-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #636262;
}

textarea {
    resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}