@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    background-color: #e6e6e6;
}